In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def outlier_ejector(dataframe, column, k=1.5):
    """
    This function takes in a dataframe and looks for upper and lower outliers.
    """
    q1, q3  = dataframe[column].quantile(q=[0.25, 0.75])
    iqr = q3 - q1
    
    
    lower_bound = q1 - (k * iqr)
    upper_bound = q3 + (k * iqr)
    
    high_items = dataframe[column] > upper_bound
    low_items = dataframe[column] < lower_bound

    
    return dataframe[~low_items | ~high_items]

In [3]:
def outlier_detector(dataframe, col, k=1.5):
    """
    This function takes in a dataframe and looks for upper and lower outliers.
    """
    q1, q3  = dataframe[col].quantile(q=[0.25, 0.75])
    iqr = q3 - q1
    
    
    lower_bound = q1 - (k * iqr)
    upper_bound = q3 + (k * iqr)
    
    high_items = dataframe[col] > upper_bound
    low_items = dataframe[col] < lower_bound

    
    return dataframe[low_items | high_items]

In [4]:
df = pd.read_csv('lemonade.csv', infer_datetime_format=True, index_col='Date')

In [5]:
df.head()

              Day  Temperature  Rainfall  Flyers  Price  Sales
Date
1/1/17     Sunday         27.0      2.00      15    0.5     10
1/2/17     Monday         28.9      1.33      15    0.5     13
1/3/17    Tuesday         34.5      1.33      27    0.5     15
1/4/17  Wednesday         44.1      1.05      28    0.5     17
1/5/17   Thursday         42.4      1.00      33    0.5     18

Using lemonade.csv dataset and focusing on continuous variables:

- Use the IQR Range Rule and the upper and lower bounds to identify the lower outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these lower outliers make sense? Which outliers should be kept?

In [12]:
num_cols = df.select_dtypes(exclude=['object'])
for col in num_cols.columns:
    print(f'{col} outliers')
    outlier_df = outlier_detector(df, col)
    print(outlier_df)
    print('----------------------------------------------------------------')

Temperature outliers
               Day  Temperature  Rainfall  Flyers  Price  Sales
Date
2/11/17   Saturday        212.0      0.91      35    0.5     21
12/31/17    Sunday         15.1      2.50       9    0.5      7
----------------------------------------------------------------
Rainfall outliers
                Day  Temperature  Rainfall  Flyers  Price  Sales
Date
1/1/17       Sunday         27.0      2.00      15    0.5     10
1/2/17       Monday         28.9      1.33      15    0.5     13
1/3/17      Tuesday         34.5      1.33      27    0.5     15
1/6/17       Friday         25.3      1.54      23    0.5     11
1/7/17     Saturday         32.9      1.54      19    0.5     13
1/11/17   Wednesday         32.6      1.54      23    0.5     12
1/12/17    Thursday         38.2      1.33      16    0.5     14
1/13/17      Friday         37.5      1.33      19    0.5     15
1/16/17      Monday         30.6      1.67      24    0.5     12
1/17/17     Tuesday         32.2      1.43      26    0.5     14
1/20/17      Friday         31.6      1.43      20    0.5     12
1/24/17     Tuesday         28.6      1.54      20    0.5     12
1/28/17    Saturday         34.9      1.33      15    0.5     13
1/29/17      Sunday         35.2      1.33      27    0.5     14
12/4/17      Monday         34.9      1.54      16    0.5     13
12/5/17     Tuesday         22.0      1.82      11    0.5     10
12/9/17    Saturday         31.2      1.43      19    0.5     14
12/10/17     Sunday         31.3      1.82      15    0.5     11
12/12/17    Tuesday         33.5      1.33      22    0.5     15
12/13/17  Wednesday         32.2      1.43      26    0.5     14
12/14/17   Thursday         31.9      1.54      24    0.5     13
12/17/17     Sunday         32.2      1.33      16    0.5     14
12/18/17     Monday         30.9      1.43      27    0.5     13
12/21/17   Thursday         40.5      1.33      23    0.5     15
12/22/17     Friday         30.9      1.54      17    0.5     13
12/26/17    Tuesday         28.9      1.43      23    0.5     13
12/30/17   Saturday         30.9      1.43      22    0.5     13
12/31/17     Sunday         15.1      2.50       9    0.5      7
----------------------------------------------------------------
Flyers outliers
              Day  Temperature  Rainfall  Flyers  Price  Sales
Date
6/16/17    Friday         99.3      0.47      77    0.5     41
7/14/17    Friday         92.0      0.50      80    0.5     40
11/21/17  Tuesday         47.0      0.95     -38    0.5     20
----------------------------------------------------------------
Price outliers
Empty DataFrame
Columns: [Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
----------------------------------------------------------------
Sales outliers
             Day  Temperature  Rainfall  Flyers  Price  Sales
Date
7/1/17  Saturday        102.9      0.47      59    0.5    143
7/2/17    Sunday         93.4      0.51      68    0.5    158
7/3/17    Monday         81.5      0.54      68    0.5    235
7/4/17   Tuesday         84.2      0.59      49    0.5    534
----------------------------------------------------------------

These temperatures app